* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-white: #ffffff;
  --secondary-gray: #c0c0c0;
  --button-blue: #167bf7;
  --background-color: #00030c;

  --font-style: 'Inter', sans-serif;
  --font-size: 1.6rem;

  --fw-400: 400;
  --fw-700: 700;

  --fs-xs: 1.2rem;
  --fs-sm: 1.6rem;
  --fs-md: 2.8rem;
  --fs-lg: 3.2rem;
  --fs-2l: 4.8rem;

  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--primary-white);
  font-size: var(--font-size);
  font-family: var(--font-style);
  font-weight: var(--fw-400);
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.landing-page {
  background-image: url('../img/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}

.container-content {
  width: 58.8rem;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-700);
  text-align: center;
}

.container-image {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

.button {
  display: block;
  background-color: var(--button-blue);
  color: var(--primary-white);
  border-radius: 0.8rem;
  text-decoration: none;
  text-align: center;
  width: 51.2rem;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  transition: transform 0.5s;
}

.button:hover {
  transform: scale(1.05);
}

.secondary-button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--primary-white);
  margin-bottom: 0.8rem;
}

.notice-paragraph {
  font-size: var(--fs-xs);
  color: var(--secondary-gray);
}

.secondary-container {
  align-items: center;
  padding-inline: 14.4rem;
}

.secondary-image {
  width: 80%;
  justify-self: center;
}

.container-description {
  width: 58.8rem;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 0.8rem;
}

.description-title {
  font-size: var(--fs-2l);
  font-weight: var(--fw-700);
}

.description-paragraph {
  font-size: var(--fs-sm);
  color: var(--secondary-gray);
}

.description-button {
  margin-top: 0.8rem;
  width: fit-content;
}

.container-devices {
  text-align: center;
  margin-bottom: 14.4rem;
}

.devices {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;

  list-style-type: none;
}

.devices li img {
  margin-bottom: 1.6rem;
}

.device-title {
  font-size: var(--fs-lg);
  color: var(--primary-white);
}

.container-footer {
  text-align: center;
  margin-bottom: 9.6rem;
}

.footer-links {
  margin-top: 4rem;
  margin-bottom: 2.4rem;

  display: flex;
  justify-content: center;
  gap: 1.6rem;

  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--primary-white);
  transition: color 0.4s;
}

.link:hover {
  color: var(--button-blue);
}

.footer-paragraph {
  font-size: 1.4rem;
  color: var(--secondary-gray);
  margin-bottom: 1.6rem;
}
